header {
    position: fixed;
    z-index: 3;
    width: 100%;
    padding: 1rem 2rem;
}

header .rel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2.5rem;
    font-style: normal;
    color: #fff;
}

.header-btn {
    width: 2.4rem;
    height: 1.4rem;
    position: relative;
}


.header-btn span {
    display: block;
    content: "";
    width: 100%;
    background-color: #fff;
    height: .2rem;
    position: absolute;
    transition: all .3s ease-in-out;
}

.header-btn span:nth-child(1) {
    top: 0;
}

.header-btn span:nth-child(2) {
    top: .6rem;
}

.header-btn span:nth-child(3) {
    top: 1.2rem;
}



.nav-list {
    display: flex;
    position: absolute;
    right: -100%;
    top: 5rem;
    gap: 1.5rem;
    flex-direction: column;
    transition: right .3s;
}

.nav-list a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transition: all .3s;
}

/* header.navOpen  */
header.navOpen .nav-list {
    right: 0%;
}

/* toggleClass이용해서 구현해보기 */


header.navOpen .header-btn span:nth-child(1) {
    transform: rotate(45deg);
    top: .6rem;
}

header.navOpen .header-btn span:nth-child(2) {
    transform: translateX(100%);
    opacity: 0;
}

header.navOpen .header-btn span:nth-child(3) {
    top: .6rem;
    transform: rotate(-45deg);
}

/* 1 */
.dep1 {
    height: 100vh;
    background: url(../img/dep1.jpg) no-repeat center/cover;
    padding-bottom: 5rem;
}

.dep1 .rel {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

.dep1 .tit_wrap {
    color: #4690ff;
    /* transform: translateY(3rem); */
}

.dep1 .tit_wrap>* {
    opacity: 0;
}


.dep1 .tit_wrap p {
    margin: 3.2rem 0 6.9rem;
}

.scroll_ico {
    width: 9rem;
    display: inline-block;
    animation: scroll-ico 1s infinite alternate;
}

@keyframes scroll-ico {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(15px);
    }

}

.fixedTop {
    position: fixed;
    width: 8rem;
    height: 8rem;
    background-image: url(../img/free-icon-swipe-up-10304881.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 3;
    right: 2rem;
    bottom: 2rem;
    opacity: 0;
    transform: translateY(100%);
    transition: all .3s;
    cursor: pointer;
    font-size: 0;
}


header.scroll {
    background-color: rgba(0, 68, 255, 0.096);
}

header.scroll .fixedTop {
    opacity: 1;
    transform: translateY(0);
}


header.scroll.navOpen .nav-list a {
    background-color: rgba(0, 0, 0, 0.285);
}


/* 2  */

.dep2 .img_wrap {
    max-width: 46rem;
    min-width: 32rem;
    margin: auto;
    height: 41.7rem;
    background: url(../img/dep2.png) no-repeat left center/90%;
}

.dep2 .btn {
    background-color: #0056d8;
}

/* 3 */
.dep3::before {
    display: block;
    content: "";
    width: 100%;
    height: 20rem;
    bottom: 0;
    position: absolute;
    left: 0;
    background-color: rgba(0, 68, 255, 0.29);
}

.dep3 .btn {
    background-color: #0056d8;
}

.dep3 .img_wrap {
    max-width: 50rem;
    height: 32rem;
    right: -2rem;
    top: -4rem;
    background: url(../img/depth3_img.png) no-repeat center /contain;
}

/* 4 */
.dep4 {
    text-align: center;
}

.dep4 h1 {
    position: relative;
    display: inline-block;
    padding: 0 3rem;
}

.dep4 h1::before {
    display: block;
    content: "";
    width: 5.5rem;
    height: 5rem;
    background-image: url(../img/dep5_3.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -3.6rem;
    right: 2.2rem;
    /* display: none; */
}

.dep4 h1:after {
    right: -7px;
}

.dep4 h1 span {
    display: block;
}

.dep4 h1 span:nth-child(1) {
    transform: translateX(-3rem);
}

.dep4 h1 span:nth-child(2) {
    transform: translateX(1rem);
}

.dep4_list {
    margin-top: 7.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.dep4_list li {
    width: calc(50% - 1rem);
    min-height: 15rem;
    max-width: 15rem;
}

.dep4_list li a {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background-image: url(../img/dep1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-transform: uppercase;
    color: #000;
    font-size: 1.6rem;
}

/* 5 */
.dep5 .tit_wrap h1 {
    position: relative;
    display: inline-block;
}

.dep5 .tit_wrap h1::before {
    width: 124%;
    height: .1rem;
    background-color: #000;
    display: block;
    content: "";
    position: absolute;
    top: 57%;
    left: -5rem;
}

.dep5 .tit_wrap h1 span {
    display: block;
    font-size: 2.9rem;
    margin-top: 1rem;
}

.dep5 .img_wrap {
    height: 27.5rem;
    max-width: 36rem;
    margin: 8rem auto 0;
}

.dep5 .img_wrap .deco1 {
    background-image: url(../img/dep5.png);
    left: 2rem;
}

.dep5 a.btn {
    background-color: #0056d8;
}

/* 6 */
.dep6 {
    text-align: center;
}

.dep6::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 2.7rem;
    background-color: #f1f1f1;
    top: calc(50% - 1rem);
    left: 0;
}

.dep6 h1 {
    position: relative;
    display: inline-block;
    padding: 0 3rem;
}


.dep6 h1 span {
    display: block;
}

.dep6 h1 span:nth-child(1) {
    transform: translateX(-5rem);
}

.dep6 h1 span:nth-child(2) {
    transform: translateX(1rem);
}

.dep6-slide-wrap {
    max-width: 26rem;
    margin: 4rem auto;
}

.dep6-slide-wrap .swiper-slide a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 23rem;
    height: 23rem;
    background-color: #9e9e9e;
    margin: auto;
    color: rgba(255, 255, 255, 0.655);
    font-size: 1.4rem;
    border-radius: 1.2rem;
    transform: scale(.85);
}

.dep6-slide-wrap .swiper-slide a .num {
    font-size: 3rem;
    color: rgb(255, 255, 255);
}


.dep6-slide-wrap .swiper-button-next:after,
.dep6-slide-wrap .swiper-button-prev:after {
    display: none;
}

.dep6-slide-wrap .btn-wrap {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.dep6-slide-wrap .swiper-button-next,
.dep6-slide-wrap .swiper-button-prev {
    position: static;
    margin-top: 2rem;
    width: 4rem;
    height: 4rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.dep6-slide-wrap .swiper-button-next {
    background-image: url(../img/arr-next.png);
}

.dep6-slide-wrap .swiper-button-prev {
    background-image: url(../img/arr-prev.png);
}


.dep6-slide-wrap .swiper-slide-prev a {
    transform: scale(.85) translateX(50%);
}

.dep6-slide-wrap .swiper-slide-next a {
    transform: scale(.85) translateX(-50%);
}

.dep6-slide-wrap .swiper-slide-active {
    z-index: 5;
}

.dep6-slide-wrap .swiper-slide-active a {
    transform: scale(1);
    background-color: #0056d8;
}

.dep6-slide-wrap .swiper {
    overflow: visible;
}

/* footer  */
footer {
    background-color: rgba(0, 68, 255, 0.29);
    position: relative;
}

footer .rel {

    padding: 3rem 2rem;
}

footer h3 {
    font-weight: 800;
    letter-spacing: -.1rem;
    font-size: 3rem;
    text-transform: uppercase;
}

.foot-list {
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
}

.foot-list li a {
    background-color: #0056d8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;

    text-align: center;
}

footer .copy {
    font-size: 1.2rem;

    text-transform: uppercase;
}